#emu {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
body {
  background-color: #D385FF;
  font-family: kosugi-maru;
}
img {
}
#boxart {
  border-style: solid;
  border-radius: 8px;
  border-color: 4F4F4F;
  border-width: 2px;
}
a:link {
  text-color: black;
}
a:visited {
  text-color: black;
}
@font-face {
  font-family: kosugi-maru;
  src: url(KosugiMaru-Regular.ttf);
}
