#emu {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
body {
  background-color: #D385FF;
}
img {
}
#boxart {
  border-style: solid;
  border-radius: 8px;
  border-color: dark-gray;
  border-width: 2px;
}
#logo:link {
  text-color: black;
}
#logo:visited {
  text-color: black;
}
